main {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Change background on hover */
label:hover {
  background-color: #e0e0e0; 
}

/* Input styling for search box */
input[type="search"] {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

li span {
  float: right;
  color: #000;
}
